<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TotalCare Registration</title>

    <!-- CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>


<div class="container">
<img class="logo" src="/img/logo.png">
<div class="formname">
  <h1>Registration Form</h1>
</div>
<form id="form">

<div class="section-title">My Information</div>
  <div class="form-group">
    <span class="label-numbers">1.</span>
    <label for="first">First Name*</label>
    <input type="text" class="form-control input-lg" name="FIRSTNAME" id="first" placeholder="First Name" required>
  </div>

  <div class="form-group">
    <span class="label-numbers">2.</span>
    <label for="last_name">Last Name*</label>
    <input type="text" class="form-control input-lg" name="LASTNAME" id="last" placeholder="Last Name" required>
  </div>

  <div class="form-group">
    <span class="label-numbers">3.</span>
    <label for="sex">Sex*</label><br>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-info">
          <input type="radio" name="SEX" id="sex" value="F">
          Female
        </label>
        <label class="btn btn-info">
          <input type="radio" name="SEX" id="sex" value="M">
          Male
        </label>
      </div>
  </div>

  <div class="form-group">
    <span class="label-numbers">4.</span>
    <label for="dob">Date of Birth*</label>
    <input type="date" class="form-control input-lg" name="DOB" id="dob" required>
  </div>

  <div class="form-group">
    <span class="label-numbers">5.</span>
    <label for="phone">Phone*</label>
    <input type="tel digits" class="form-control input-lg" name="HOMEPHONE" id="phone" placeholder="Phone number" required minlength="10">
  </div>

  <div class="form-group has-feedback">
    <span class="label-numbers">6.</span>
    <label for="email">Email</label>
    <input type="email" class="form-control input-lg" name="EMAIL" id="email" placeholder="Email" email>
  </div>

  <div class="form-group">
    <span class="label-numbers">7.</span>
    <label for="address1">Street Address*</label>
    <input type="text" class="form-control input-lg" name="ADDRESS1" id="address" placeholder="Enter full street address" required>
  </div>

  <div class="form-group">
    <span class="label-numbers">8.</span>
    <label for="zip">Zip Code*</label>
    <input type="text" class="form-control input-lg"  name="ZIP" id="zip" placeholder="Zip Code" required>
  </div>

  <div class="form-group">
    <span class="label-numbers">9.</span>
    <label for="city">City</label>
    <input type="text" class="form-control input-lg" name="CITY" id="city" placeholder="City">
  </div>

  <div class="form-group">
    <span class="label-numbers">10.</span>
    <label for="state">State</label>
    <input type="text" class="form-control input-lg" name="STATE_select" id="state" placeholder="State">
  </div>

<div class="section-title">Emergency Contact</div>

  <div class="form-group">
    <span class="label-numbers">1.</span>
    <label for="contactname">Name*</label>
    <input type="text" class="form-control input-lg" name="CONTACTNAME" id="contactname" placeholder="Contact Name" required>
  </div>

  <div class="form-group">
    <span class="label-numbers">2.</span>
    <label for="contactrelationship">Relationship*</label>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-info">
          <input type="radio" name="CONTACTRELATIONSHIP" id="contactrelationship" value="SPOUSE">
          Spouse
        </label>
        <label class="btn btn-info">
          <input type="radio" name="CONTACTRELATIONSHIP" id="contactrelationship" value="PARENT">
          Parent
        </label>
        <label class="btn btn-info">
          <input type="radio" name="CONTACTRELATIONSHIP" id="contactrelationship" value="OTHER">
          Other
        </label>
      </div>
  </div>

  <div class="form-group">
    <span class="label-numbers">3.</span>
    <label for="contactphone">Phone*</label>
    <input type="text" class="form-control input-lg" name="CONTACTPHONE1" id="contactphone" placeholder="Contact Phone" required>
  </div>

<div class="section-title">Insurance Information</div>
<!--   <div class="instructions">
  Please skip this section if you don't have insurance.
  </div> -->
  <div class="form-group">
    <span class="label-numbers">1.</span>
    <label for="insurancecarrier">Insurance Carrier</label>
    <input type="text" class="form-control input-lg" id="insurancecarrier" placeholder="Insurance Carrier (e.g. Blue Shield CA)">
  </div>
  <div class="form-group">
    <span class="label-numbers">2.</span>
    <label for="insuranceid">ID Number</label>
    <input type="text" class="form-control input-lg" name="IDNUMBER" id="insuranceid" placeholder="ID Number">
  </div>

<label>If the insurance card is <strong>NOT</strong> under your name, please click <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">here
        </a>. Otherwise, skip this question.</label>


  <div class="panel panel-default">
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="form-group">
          <span class="label-numbers">1.</span>
          <label for="insurancefirst">First Name of Holder</label>
          <input type="text" class="form-control input-lg" name="INSUREDFIRSTNAME" id="guarantorfirst" placeholder="First Name">
        </div>

        <div class="form-group">
          <span class="label-numbers">2.</span>
          <label for="insurancelastname">Last Name of Holder</label>
          <input type="text" class="form-control input-lg" name="INSUREDLASTNAME" id="guarantorlast" placeholder="Last Name">
        </div>

        <div class="form-group">
          <span class="label-numbers">3.</span>
          <label for="insurancedob">Date of Birth of Holder</label>
          <input type="date" class="form-control input-lg" name="INSUREDDOB" id="insurancedob" placeholder="Date of Birth">
        </div>

        <div class="form-group">
          <span class="label-numbers">4.</span>
          <label for="sex">Sex of Holder</label><br>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-info">
                <input type="radio" name="INSUREDSEX" id="insurancesex" value="F">
                Female
              </label>
              <label class="btn btn-info">
                <input type="radio" name="INSUREDSEX" id="insurancesex" value="M">
                Male
              </label>
            </div>
        </div>

        <div class="form-group">
          <span class="label-numbers">5.</span>
          <label for="sex">Your Relationship to Holder</label>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-info">
              <input type="radio" name="RELATIONSHIPTOINSUREDID" id="insurancerelationship" value="2">
              Spouse
            </label>
            <label class="btn btn-info">
              <input type="radio" name="RELATIONSHIPTOINSUREDID" id="insurancerelationship" value="3">
              Child
            </label>
            <label class="btn btn-info">
              <input type="radio" name="RELATIONSHIPTOINSUREDID" id="insurancerelationship" value="4">
              Other
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <input type ="hidden" name="RELATIONSHIPTOPATIENTID" value="1">
  <input type="hidden" name="PRIVACYNOTICEGIVENFLAG" value = "Y">
  <input type="hidden" name="PATIENTSIGNATUREONFILEFLAG" value ="Y">
  <input type="hidden" name="INSUREDSIGNATUREONFILEFLAG" value="Y">
  <input type="hidden" name="CONSENTTOCALLFLAG" value="Y">
  <input type="hidden" name="PRIMARYPROVIDERID">
  <input type="hidden" name="MOBILEPHONE">
<!--   <input type ="hidden" name = "INTERFACECONSENT.RXHUB.VERIFYMEDICATIONHISTORY" value="Y"> -->
  

  <div class="create-account-form">
    <label>Create an account (optional)</label>
    <div class="form-group">
      <input type="password" class="form-control input-lg" id="userPassword" placeholder="Choose a password (at least 6 characters)">
    </div>
  </div>

  <div class="alert alert-success data" style="display: none;"></div>

  <button type="submit" class="submit btn btn-success">Check In</button>

</form>

</div>

</html>

<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script src="/scripts/jquery.validate.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDMU8bIRFMCn2MozdUIdNryXhne3ziapJo",
    authDomain: "pronto-34571.firebaseapp.com",
    databaseURL: "https://pronto-34571.firebaseio.com",
    storageBucket: "pronto-34571.appspot.com",
  };

  function setProviderId () {
  var d = new Date();
  var n = d.getDay();
  var provider;
  if ([1, 4, 6].indexOf(n) > -1) {
    provider = 3; //'ZHANG_X';
  } else {
    provider = 2; //'WANG_J';
  }
  return provider;
};

$(document).ready(function () {
  $("input[name='PRIMARYPROVIDERID']").val(setProviderId());
});

var fb = firebase.initializeApp(config);
var user_id;
var wait;
fb.auth().onAuthStateChanged(function(user) {
  if (user) {
    user_id = user.uid;
    if (wait) {
      wait = false;
      saveFormDataToFb();
    }
  } else {
    //window.location.href = "/";
  }

});




      // https://jqueryvalidation.org/validate
      // https://jqueryvalidation.org/documentation/
      $("#form").validate({
        highlight: function (element) {
          $(element).parent('div').addClass('has-error');
        },
        unhighlight: function (element) {
          $(element).parent('div').removeClass('has-error').addClass('has-success');
        }
      });

      $('#form').on('submit', function (e) {
        e.preventDefault();
        if (!$('#form').valid()) {
          $('.alert.data').addClass('alert-danger').removeClass('alert-success').show()
              .html('Please correct the errors above before continuing');
          return;
        }
        var email = $('#email').val();
        var password = $('#userPassword').val();
        wait = false;
        if (password !== undefined && password !== '')  {
          wait = true;
          firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
              // Handle Errors here.
              var errorCode = error.code;
              var errorMessage = error.message;
              if (errorCode == 'auth/weak-password') {
                alert('The password is too weak.');
              } else {
                console.error(error);
              }
              // lets create the account regardless
              // FIX: show an error message and let the user retry instead
              saveFormDataToFb();
          });
        }
        if (!wait) {
          saveFormDataToFb();
        }
      });

function saveFormDataToFb () {
  var updates = {};
  if (!user_id) {
    user_id = fb.database().ref().child('user-data').push().key;
  }
  updates = $('form').getFormData();
  fb.database().ref().child('user-data/'+ user_id).update(updates);
  $('.alert.data').addClass('alert-error').removeClass('alert-success').show()
      .html('Saved! your key is: <p><strong id="key"></strong></p>');
  $('#key').html(user_id);
  return true;
}

$.fn.getFormData =  function getFormData() {
    var fields = this.find('[name][type!=radio]');
    var result = {};
    $.each(fields, function (i, el) {
        result[el.name] = el.value;
    });
    result['MOBILEPHONE'] = result['HOMEPHONE'];
    //Change format of date
    var olddob = result['DOB'];
    var year = olddob.substring(0,4);
    var month = olddob.substring(5,7);
    var day = olddob.substring(8,10);
    var newdob = month+"/"+day+"/"+year;
    result['DOB'] = newdob;
    if (result['INSUREDDOB']) {
        var oldinsureddob = result['INSUREDDOB'];
        year = oldinsureddob.substring(0,4);
        month = oldinsureddob.substring(5,7);
        day = oldinsureddob.substring(8,10);
        var newinsureddob = month+"/"+day+"/"+year;
        result['INSUREDDOB'] = newinsureddob;
    }
    radios = $('[name][type=radio]');
    $.each(radios, function (i, el) {
        if (el.checked) {
            result[el.name] = el.value;
        }
    });
    return result;
};

var zip_cache = {};

function handleResp(data) {
    // Check for error
    if (data.error_msg) {
        console.log('error getting city');
    }
    else if ("city" in data)
    {
        // Set city and state
        $("[name='CITY']").val(data.city);
        $("input[name='STATE_select']").val(data.state);
    }
}

// @TODO add the client key followint this https://www.zipcodeapi.com/Examples
$('[name=ZIP]').on('keyup change', function (e) {
    var zipcode = $(this).val();
    if (zipcode && zipcode.length >= 5 && /^[0-9]+$/.test(zipcode)) {
        console.log('valid length zip, performing query');
        var city = $("[name=CITY]");
        var state = $("[name=STATE_select]");
        var clientKey = 'js-EJFbLjfar09JjmzcYHf7USipKEHeqjg42WgOfwZHw9rPv02uHhBB9T0UyI8Y1p33';
        if (!city.val()) {
            if (zipcode in zip_cache) {
                handleResp(zip_cache[zipcode]);
            } else {
                var url = "https://www.zipcodeapi.com/rest/"+clientKey+"/info.json/" + zipcode + "/radians";
                $.ajax({
                    "url": url,
                    "dataType": "json"
                }).done(function(data) {
                    handleResp(data);
                    zip_cache[zipcode] = data;
                }).fail(function(data) {
                });
           }
        }
        return;
    }
    console.log('invalid length zip, skipping query');
});

</script>
