.formname {
	text-align: center;
}

.section-title {
	font-size: 24px;
	font-variant: small-caps;
	color: #0e2f44;
	font-weight: 600;
	margin-top: 30px;

}

.instructions {
	font-size: 18px;
	font-weight: lighter;
}

body {
	background: #f0f8ff;
	font-family: "gill sans";
}

label, .label-numbers {
	color: #4d4d4d;
	font-size: 20px;
	font-weight: 500;
}

label.error {
	color: #ca6747;
	font-size: 12px;
}

.btn {
	width: 100px;
	font-size: 20px;
	padding: 10px;
	margin: 3px;
	border-radius: 5px;
}

@media only screen and (max-device-width: 4000px) {
	.btn.active, .btn:active {
		background: #0e2f44 !important;
	}
}

.submit {
	display: block;
	margin: 30px auto;
}

img {
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.container {
	max-width: 500px;
}